{{ctrl.teams.length}} teams in DB
<table class="table">
    <tr>
    <th ng-click="ctrl.sortProperty = '-name'">Name</th>
    <th ng-click="ctrl.sortProperty = 'ranking'">ranking</th>
    <th ng-click="ctrl.sortProperty = 'goal'">goal</th>
    <th ng-click="ctrl.sortProperty = 'budget'">budget</th>
    <th ng-click="ctrl.sortProperty = '-transfersOut'">Transfers Out</th>
    <th ng-click="ctrl.sortProperty = '-transfersIn'">Transfers In</th>
    <th ng-click="ctrl.sortProperty = '-transfersNet'">transfersNet</th>
    <th ng-click="ctrl.sortProperty = '-valueOut'">valueOut</th>
    <th ng-click="ctrl.sortProperty = '-valueIn'">valueIn</th>
    <th ng-click="ctrl.sortProperty = '-valueNet'">valueNet</th>
    <th ng-click="ctrl.sortProperty = '-priceOut'">priceOut</th>
    <th ng-click="ctrl.sortProperty = '-priceIn'">priceIn</th>
    <th ng-click="ctrl.sortProperty = '-priceNet'">priceNet</th>
    </tr>
    <tr ng-repeat="team in ctrl.teams | orderBy:ctrl.sortProperty" ng-class="{'premier':transfer.sourceTeam.ranking > 0 && transfer.destinationTeam.ranking > 0}">
        <td><img src="{{team.logopath}}" class="teamlogo"/> {{team.name}}</td>
        <td class="ranking" ng-class="{'pass':team.ranking <= team.goal}">{{team.ranking}}</td>
        <td>{{team.goal}}</td>
        <td>{{team.budget / 1000000 | number: 2}}</td>
        <td>{{team.transfersOut}}</td>
        <td>{{team.transfersIn}}</td>
        <td>{{team.transfersNet}}</td>
        <td>{{team.valueOut / 1000000 | number: 2}}</td>
        <td>{{team.valueIn / 1000000 | number: 2}}</td>
        <td class="key-member" ng-class="{'pos':team.valueNet > 0,'neg': team.valueNet < 0}">{{team.valueNet / 1000000 | number: 2}}</td>
        <td>{{team.priceOut / 1000000 | number: 2}}</td>
        <td>{{team.priceIn / 1000000 | number: 2}}</td>
        <td class="key-member" ng-class="{'pos':team.priceNet > 0,'neg': team.priceNet < 0}">{{team.priceNet / 1000000 | number: 2}}</td>
    </tr>
</table><!--https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/pulselive/i/team-badges/svg/STK.svg-->