table{
    tr{
        &.premier{
            background:lighten(orange,40%);
        }

        &.GKP,&.DEF{
            .statDef{
                font-weight:bold;
            }
        }

        &.ATT{
            .statAtt{
                font-weight:bold;
            }
        }

        &.MID{
            .statOvr{
                font-weight:bold;
            }
        }

        td{
            &.nationality{
                img{
                    width:15px;
                }
            }
            &.premier{
                font-weight: bold;
            }
         }
    }
}

img.teamlogo{
    height: 15px;
    widows: 15px;
}