<table>
    <tr ng-repeat="team in ctrl.teams">
        <td>{{team.name}}</td>
        <td>{{team.transfersIn}}</td>
        <td>{{team.transfersOut}}</td>
        <td>{{team.valueIn}}</td>
        <td>{{team.valueOut}}</td>
        <td>{{team.priceIn}}</td>
        <td>{{team.priceOut}}</td>
    </tr>
</table>
<table class="table">
    <tr ng-repeat="transfer in ctrl.transfers" ng-class="{'premier':transfer.sourceTeam.ranking > 0 && transfer.destinationTeam.ranking > 0}">
        <td>{{transfer.sourceTeam.name}}</td>
        <td>{{transfer.destinationTeam.name}}</td>
        <td>{{transfer.player.fullName}}</td>
        <td>{{transfer.value / 1000000 | number: 2}}</td>
        <td>{{transfer.price / 1000000 | number: 2}}</td>
        <td style="font-weight:bold">{{(transfer.price / 1000000) - (transfer.value / 1000000) | number: 2}}</td>
        <td>{{transfer.player.position}}</td>
        <td>{{transfer.player.age}}</td>
        <td>{{transfer.player.statAtt}}</td>
        <td>{{transfer.player.statDef}}</td>
        <td>{{transfer.player.statOvr}}</td>
        <td class="nationality"><img ng-src='https://lipis.github.io/flag-icon-css/flags/4x3/{{transfer.player.nationality | lowercase}}.svg'/></td>
    </tr>
</table>