<button class="btn btn-success" ng-click="ctrl.filterPremier()">League Only</button>&nbsp;{{ctrl.transfers.length}} transfers
<table class="table">
    <tr>
        <th ng-click="ctrl.sortProperty = '-date'">Date</th>
        <th ng-click="ctrl.sortProperty = 'sourceTeam.id'">Seller</th>
        <th ng-click="ctrl.sortProperty = 'destinationTeam.id'">Buyer</th>
        <th>Player</th>
        <th ng-click="ctrl.sortProperty = '-value'">Value</th>
        <th ng-click="ctrl.sortProperty = '-price'">Price</th>
        <th ng-click="ctrl.sortProperty = '-valuePriceDiff'">Diff</th>
        <th ng-click="ctrl.sortProperty = '-player.position'">Position</th>
        <th class="hidden-xs" ng-click="ctrl.sortProperty = '-player.age'">Age</th>
        <th class="hidden-xs" ng-click="ctrl.sortProperty = '-player.statAtt'">ATT</th>
        <th class="hidden-xs" ng-click="ctrl.sortProperty = '-player.statDef'">DEF</th>
        <th class="hidden-xs" ng-click="ctrl.sortProperty = '-player.statOvr'">OVR</th>
    </tr>
    <tr ng-repeat="transfer in ctrl.transfers | orderBy:ctrl.sortProperty" ng-class="{'premier':transfer.premierTransfer}" class="{{transfer.player.type}}">
        <td>{{transfer.date | date:'dd-MM HH:mm'}}</td>
        <td ng-class="{'premier':transfer.sourceTeam.ranking > 0}">{{transfer.sourceTeam.name}}</td>
        <td ng-class="{'premier':transfer.destinationTeam.ranking > 0}">{{transfer.destinationTeam.name}}</td>
        <td>{{transfer.player.fullName}}</td>
        <td>{{transfer.value / 1000000 | number: 2}}</td>
        <td>{{transfer.price / 1000000 | number: 2}}</td>
        <td style="font-weight:bold">{{transfer.valuePriceDiff / 1000000 | number: 2}}</td>
        <td>{{transfer.player.type}}</td>
        <td class="hidden-xs">{{transfer.player.age}}</td>
        <td class="statAtt hidden-xs">{{transfer.player.statAtt}}</td>
        <td class="statDef hidden-xs">{{transfer.player.statDef}}</td>
        <td class="statOvr hidden-xs">{{transfer.player.statOvr}}</td>
        <td class="nationality hidden-xs"><img ng-src='https://lipis.github.io/flag-icon-css/flags/4x3/{{transfer.player.nationality | lowercase}}.svg' /></td>
    </tr>
</table>