
<table>
    <tr ng-repeat="team in ctrl.teams">
        <td>{{team.name}}</td>
        <td>{{team.transfersIn}}</td>
        <td>{{team.transfersOut}}</td>
        <td>{{team.valueIn}}</td>
        <td>{{team.valueOut}}</td>
        <td>{{team.priceIn}}</td>
        <td>{{team.priceOut}}</td>
    </tr>
</table>
<table>
    <tr ng-repeat="transfer in ctrl.transfers" ng-class="{'premier':transfer.sourceTeam.leagueId == transfer.destinationTeam.leagueId}">
        <td>{{transfer.destinationTeam.name}}</td>
        <td>{{transfer.sourceTeam.name}}</td>
        <td>{{transfer.player.fullName}}</td>
        <td>{{transfer.value}}</td>
        <td>{{transfer.price}}</td>
        <td>{{transfer.player.position}}</td>
        <td>{{transfer.player.age}}</td>
        <td>{{transfer.player.statAtt}}</td>
        <td>{{transfer.player.statDef}}</td>
        <td>{{transfer.player.statOvr}}</td>
        <td>{{transfer.player.nationality}}</td>
    </tr>
</table>